<div class="card-columns m-3">
    <div (click)="verArtista(item)" class="card" *ngFor="let item of items">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artista of item.artists" class="badge badge-secondary">{{artista.name}}</span>
                <span class="badge badge-success">Artists</span>
            </p>
        </div>
    </div>
</div>
